body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 245);
    background-color: rgb(15, 15, 15);
}

.typed {
    line-height: 35px;
    width: 40%;
    font-size: 150%;
    text-align: left;
    font-family: "Courier New", "Lucida Console", monospace;
    vertical-align: text-bottom;
}

.typed::after{
    content: "|";
    font-size: 160%;
    line-height: 35px;
    animation: blink .75s step-end infinite;
}

@keyframes blink {
    from, to { color: transparent }
    50% { color: rgba(245,245,245); }
}